type conn_launcher_exec, exec_type, file_type;
type conn_launcher, domain;

init_daemon_domain(conn_launcher);

allow conn_launcher stpwmt_device:chr_file rw_file_perms;
allow conn_launcher wmt_prop:property_service set;

#unix_socket_connect(conn_launcher, property, init)

allow conn_launcher wmt_prop:file r_file_perms;
allow conn_launcher property_socket:sock_file write;
allow conn_launcher init:unix_stream_socket connectto;
allow conn_launcher system_file:dir r_dir_perms;
