allow sysinit servicemanager:binder call;
allow sysinit audioserver:binder call;
allow sysinit drmserver:binder call;
allow sysinit mediadrmserver:binder call;
allow sysinit mediaserver:binder call;
allow sysinit mediaextractor:binder call;
allow sysinit surfaceflinger:binder call;
allow sysinit mediacodec:binder call;
allow sysinit healthd:binder call;
allow sysinit keystore:binder call;
allow sysinit gatekeeperd:binder call;
allow sysinit cameraserver:binder call;
allow sysinit netd:binder call;
allow sysinit servicemanager:service_manager list;
allow sysinit audioserver_service:service_manager find;
allow sysinit drmserver_service:service_manager find;
allow sysinit mediaserver_service:service_manager find;
allow sysinit mediadrmserver_service:service_manager find;
allow sysinit mediaextractor_service:service_manager find;
allow sysinit mediacodec_service:service_manager find;
allow sysinit gpu_service:service_manager find;
allow sysinit surfaceflinger_service:service_manager find;
allow sysinit batteryproperties_service:service_manager find;
allow sysinit gatekeeper_service:service_manager find;
allow sysinit keystore_service:service_manager find;
allow sysinit cameraserver_service:service_manager find;
allow sysinit netd_service:service_manager find;
